* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#rudderHolder {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

#rudder {
    height: 50px;
    width: 150px;
    margin-right: 75px;
    transform: scale(2);
}